

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#jumbotron{
	width:100%;
	text-align: center;
}

#categories{
	display:inline-block;
}














